/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  font-family: Helvetica, Monaco, serif;
  font-size: 20px;
  background: rgb(237, 237, 236);
  margin: 0;
  margin-top: 40px;
  padding: 0;
}

#terminal {
  margin:50px auto 50px auto;
  border: 1px solid black;
  height: 400px;
  background: black;
  overflow: scroll;
}

#terminal div.line {
  width: 100%;
  margin-bottom: 5px;
  color: #55D839;
}

#terminal input {
  width: 95%;
  margin: 1px 0 1px 10px;
  border: none;
  display: inline;
  padding: 2px;
  background: black;
  color: #55D839;
  font-size: 18px;
  font-family: Monaco, monospace;
}

#terminal p, #terminal pre {
  margin: 2px;
  color: #55D839;
  font-size: 18px;
  font-family: Monaco, serif;
}

#terminal a:link,
#terminal a:visited,
#terminal a:hover,
#terminal a:active {
  text-decoration: none;
  border-bottom: 2px dashed #BF0D23;
}

#terminal .line a  {
  color: #55D839;
}

#terminal span.prompt {
  color: #55D839;
  font-size: 16px;
  margin-left: 2px;
}

#terminal input.readLine {
  padding-left: 0;
  margin-left: 0;
}

#wrapper {
  width: 950px;
  padding-left: 20px;
  float: left;
  padding-left: 10px;
  margin:0;
}
#wrapper h1 {
  margin: 4px;
  padding: 2px;
}

#container {
  width: 1000px;
  margin: 0 auto;
  background: #fff; 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-top: 1px solid #fff;
  padding-bottom: 76px;
  margin-bottom: 200px;
}

/* HEADER */
html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: url(../images/bg_header_new.png) repeat-x 0% 0%;
	margin: 0;
	padding: 0;
	height: 100%;
	font-size:12px;
}

.mainWrapper {
	min-height: 100%;
	margin-bottom: -60px;
}

.header {
    width: 960px;
    height: 60px;
    margin: 0 auto;
	padding: 0;
	position: relative;
}

.header h1 {
	float:left;
	margin:10px 5px 0 0;
	padding:0;
	font-size: 30px;
}

.header h1 span {
	font-size: 15px;
}

.header h2 {
	position:relative;
	margin:0;
	padding:20px 0 0 0;
	font-size: 20px;
	color:#555;
}

.header .nav {
	position: absolute;
	right:0;
	top: 10px;
	list-style-type: none;
}

.header .nav li {
	float: left;
	padding-right: 20px;
}

.header .nav li a,
.header .nav li a:link,
.header .nav li a:active,
.header .nav li a:visited {
	color: #373737;
	text-decoration: none;
}

.footer {
    height: 60px;
	margin: 0;
	padding: 0;
	background: #F1F1F1;
	border-top: 2px solid #DDD;
	font-size: 12px;
	position:relative;
}

.footer div {
	width: 960px;
	margin: 0 auto;
	padding-top: 10px;
	color:#4a4a4a;
	font-weight:bold;
	font-size: 1.1em;
}

.footer div div {
	padding-top: 10px;
}

.footer div a,
.footer div a:link,
.footer div a:active,
.footer div a:visited {
	text-decoration: underline;
	color:#4a4a4a;
}

.footer div img {
	float:right;
	position: relative;
	border:solid 1px;
	margin: 0 0 0 10px;
}