#terminal {
  margin:50px auto 50px auto;
  border: 1px solid black;
  height: 400px;
  background: black;
  overflow: scroll;
}

#terminal div.line {
  width: 100%;
  margin-bottom: 5px;
  color: #55D839;
}

#terminal input {
  width: 95%;
  margin: 1px 0 1px 10px;
  border: none;
  display: inline;
  padding: 2px;
  background: black;
  color: #55D839;
  font-size: 18px;
  font-family: Monaco, monospace;
}

#terminal p, #terminal pre {
  margin: 2px;
  color: #55D839;
  font-size: 18px;
  font-family: Monaco, serif;
}

#terminal a:link,
#terminal a:visited,
#terminal a:hover,
#terminal a:active {
  text-decoration: none;
  border-bottom: 2px dashed #BF0D23;
}

#terminal .line a  {
  color: #55D839;
}

#terminal span.prompt {
  color: #55D839;
  font-size: 16px;
  margin-left: 2px;
}

#terminal input.readLine {
  padding-left: 0;
  margin-left: 0;
}