#terminal
  p.response node.js version 
    span#nodejs_version
    br
    | this REPL forked from 
    a(href='https://github.com/neerajdotname/try-nodejs', target='_blank') try-nodejs
    br
    | type "help()" for help
  .line
    span.prompt &gt; 
    input.readLine.active(type: 'text')